<article>
    <div class="container-fluid">

        <div style="margin-left: 0px;">
            <div class="form-group row">
                <label for="search-input" class="col-md-1 col-sm-2 col-form-label"><strong>Filter:</strong></label>
                <div class="col-md-3 col-lg-4 col-sm-3 col-xs-1" style="margin-bottom: 10px;">
                    <input #searchText class="form-control" type="text" placeholder="Enter keyword" id="search-input" (keyup)="onSearch(searchText.value)">

                    <button #tDetails class="btn btn-primary" type="button" (click)="onToggleDetails($event)">{{toggleDetailsText}}</button>

                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    Found: {{filteredItems.length}}
                    <span *ngIf="filteredItems.length===0"> - no records found.</span>
                </div>
            </div>
        </div>

    </div>



    <ul>
        <li *ngFor="let item of filteredItems; let i = index;" #listItems>
            <div><strong>Keywords:</strong> {{item.purpose}}</div>
            <div><strong>Example:</strong> {{item.fn}}</div>
            <div *ngIf="toggleDetails">
                <div><strong>Function call:</strong> {{item.parms}}</div>
                <div><strong>Results:</strong> {{item.res}}</div>
            </div>
            <br/>
        </li>
    </ul>
</article>
<footer>
    <div>Version: 1.0.0 (May 2017) - Built with {{mioVersion}} and the Angular-cli</div>
    <div>
        <em> *Functions have been transpiled from TypeScript to ES5 for use in the browser.</em>
    </div>
    <div>Util developed by: M.Carbone. </div>

</footer>